.app {
  display: grid;
  place-items: center;
  width: 100%;
  color: hsla(0,0%,100%,.7);
}

.header {
  width: 95vw;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-gap: 1rem;
}

.logo {
  grid-column-start: 0;
}

button {
  background-color: unset;
  border-radius: 40px;
  box-shadow: 0 0 2px 1px #2049C1, inset 0 0 2px 1px #2049C1;
  border: none;
  font: unset;
  color: unset;
  padding: 5px 20px;
}
